In [1]:

import pandas as pd
import sqlite3

# Reads the json generated from the CLI commands above and creates a pandas dataframe
tweets_df = pd.read_json('jsons/2023-04-16-04-33-10.json', lines=True)

In [2]:
tweets_df

,_type,url,date,rawContent,renderedContent,id,user,replyCount,retweetCount,likeCount,...,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags,card,viewCount,vibe
0,snscrape.modules.twitter.Tweet,https://twitter.com/gustavoseifer/status/16473...,2023-04-15 22:57:54+00:00,I rated Vivarium (2019) 5/10 #IMDb https://t.c...,I rated Vivarium (2019) 5/10 #IMDb imdb.com/ti...,1647373713057230849,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,NaN,None
1,snscrape.modules.twitter.Tweet,https://twitter.com/gustavoseifer/status/16473...,2023-04-15 22:57:13+00:00,I rated Carnage (2011) 7/10 #IMDb https://t.co...,I rated Carnage (2011) 7/10 #IMDb imdb.com/tit...,1647373541501812737,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,NaN,None
2,snscrape.modules.twitter.Tweet,https://twitter.com/DamoAdonisSmart/status/164...,2023-04-15 22:53:07+00:00,I rated John Wick: Chapter 2 (2017) 9/10 #IMDb...,I rated John Wick: Chapter 2 (2017) 9/10 #IMDb...,1647372510827016194,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,1.0,None
3,snscrape.modules.twitter.Tweet,https://twitter.com/OpenAirScreen/status/16473...,2023-04-15 22:51:07+00:00,I rated John Wick (2014) 8/10 #IMDb Action pac...,I rated John Wick (2014) 8/10 #IMDb Action pac...,1647372006994718720,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,NaN,None
4,snscrape.modules.twitter.Tweet,https://twitter.com/imdbmap/status/16473677309...,2023-04-15 22:34:08+00:00,I rated Top of the Pops: Episode #15.15 (S15.E...,I rated Top of the Pops: Episode #15.15 (S15.E...,1647367730926845952,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6010,snscrape.modules.twitter.Tweet,https://twitter.com/dapperdan75/status/1627462...,2023-02-20 00:18:23+00:00,I rated Wind River (2017) 8/10 #IMDb https://t...,I rated Wind River (2017) 8/10 #IMDb imdb.com/...,1627462633782648833,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,80.0,None
6011,snscrape.modules.twitter.Tweet,https://twitter.com/marcb__/status/16274625095...,2023-02-20 00:17:53+00:00,I rated Wrong Side of the Tracks (2021– ) 8/10...,I rated Wrong Side of the Tracks (2021– ) 8/10...,1627462509509615622,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,18.0,None
6012,snscrape.modules.twitter.Tweet,https://twitter.com/theHectorJeter/status/1627...,2023-02-20 00:15:01+00:00,I rated The Last of Us: Endure and Survive (S1...,I rated The Last of Us: Endure and Survive (S1...,1627461786751631360,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,48.0,None
6013,snscrape.modules.twitter.Tweet,https://twitter.com/theHectorJeter/status/1627...,2023-02-20 00:14:47+00:00,I rated The Last of Us: Please Hold to My Hand...,I rated The Last of Us: Please Hold to My Hand...,1627461728605728779,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,40.0,None
6014,snscrape.modules.twitter.Tweet,https://twitter.com/JJ_MovieReviews/status/162...,2023-02-20 00:11:58+00:00,I rated Modern Family: The Feud (S5.E15) 9/10 ...,I rated Modern Family: The Feud (S5.E15) 9/10 ...,1627461019999080448,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,NaN,None,None,None,None,[IMDb],NaN,{'_type': 'snscrape.modules.twitter.SummaryCar...,22.0,None

In [15]:
tweets_df.user.username

AttributeError: 'Series' object has no attribute 'username'

In [8]:
import ast

In [14]:
tweets_df['user'] = tweets_df['user'].apply(lambda x: ast.literal_eval(x))

# Extract the 'username' attribute into a new column called 'user_username'
tweets_df['user_username'] = tweets_df['user'].apply(lambda x: x['username'])

ValueError: malformed node or string: {'_type': 'snscrape.modules.twitter.User', 'username': 'gustavoseifer', 'id': 144951541, 'displayname': 'Gus', 'rawDescription': 'PhD, Neurologist, R enthusiast, Skyrocket constructor, ex flat-earther :)', 'renderedDescription': 'PhD, Neurologist, R enthusiast, Skyrocket constructor, ex flat-earther :)', 'descriptionLinks': None, 'verified': False, 'created': '2010-05-17T19:01:04+00:00', 'followersCount': 66, 'friendsCount': 216, 'statusesCount': 1806, 'favouritesCount': 126, 'listedCount': 1, 'mediaCount': 139, 'location': 'Allschwil, Basel-Landschaft, Switzerland', 'protected': False, 'link': None, 'profileImageUrl': 'https://pbs.twimg.com/profile_images/592876458827239425/VjiNgzaE_normal.jpg', 'profileBannerUrl': 'https://pbs.twimg.com/profile_banners/144951541/1374372886', 'label': None, 'url': 'https://twitter.com/gustavoseifer'}

In [19]:
tweets_df['user_id'] = tweets_df['user'].apply(lambda x: x['id'])

In [20]:
tweets = tweets_df[['user_id', 'date', 'renderedContent']]

In [21]:
tweets

,user_id,date,renderedContent
0,144951541,2023-04-15 22:57:54+00:00,I rated Vivarium (2019) 5/10 #IMDb imdb.com/ti...
1,144951541,2023-04-15 22:57:13+00:00,I rated Carnage (2011) 7/10 #IMDb imdb.com/tit...
2,233255423,2023-04-15 22:53:07+00:00,I rated John Wick: Chapter 2 (2017) 9/10 #IMDb...
3,1285682738876612608,2023-04-15 22:51:07+00:00,I rated John Wick (2014) 8/10 #IMDb Action pac...
4,3437023271,2023-04-15 22:34:08+00:00,I rated Top of the Pops: Episode #15.15 (S15.E...
...,...,...,...
6010,19462713,2023-02-20 00:18:23+00:00,I rated Wind River (2017) 8/10 #IMDb imdb.com/...
6011,87941795,2023-02-20 00:17:53+00:00,I rated Wrong Side of the Tracks (2021– ) 8/10...
6012,63811994,2023-02-20 00:15:01+00:00,I rated The Last of Us: Endure and Survive (S1...
6013,63811994,2023-02-20 00:14:47+00:00,I rated The Last of Us: Please Hold to My Hand...
6014,2259426482,2023-02-20 00:11:58+00:00,I rated Modern Family: The Feud (S5.E15) 9/10 ...

In [23]:
# Convert the 'date' column to pandas Timestamp format
tweets['date'] = pd.to_datetime(tweets['date'], format='%Y-%m-%d %H:%M:%S%z')

# Define a function to convert timestamp to Unix time
def convert_to_unix_time(timestamp):
    return int(timestamp.timestamp())

# Apply the conversion function to the 'date' column and create a new column called 'unix_time'
tweets['unix_time'] = tweets['date'].apply(lambda x: convert_to_unix_time(x))

C:\Users\harsh\AppData\Local\Temp\ipykernel_9988\1186927722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['date'] = pd.to_datetime(tweets['date'], format='%Y-%m-%d %H:%M:%S%z')
C:\Users\harsh\AppData\Local\Temp\ipykernel_9988\1186927722.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['unix_time'] = tweets['date'].apply(lambda x: convert_to_unix_time(x))

In [24]:
tweets

,user_id,date,renderedContent,unix_time
0,144951541,2023-04-15 22:57:54+00:00,I rated Vivarium (2019) 5/10 #IMDb imdb.com/ti...,1681599474
1,144951541,2023-04-15 22:57:13+00:00,I rated Carnage (2011) 7/10 #IMDb imdb.com/tit...,1681599433
2,233255423,2023-04-15 22:53:07+00:00,I rated John Wick: Chapter 2 (2017) 9/10 #IMDb...,1681599187
3,1285682738876612608,2023-04-15 22:51:07+00:00,I rated John Wick (2014) 8/10 #IMDb Action pac...,1681599067
4,3437023271,2023-04-15 22:34:08+00:00,I rated Top of the Pops: Episode #15.15 (S15.E...,1681598048
...,...,...,...,...
6010,19462713,2023-02-20 00:18:23+00:00,I rated Wind River (2017) 8/10 #IMDb imdb.com/...,1676852303
6011,87941795,2023-02-20 00:17:53+00:00,I rated Wrong Side of the Tracks (2021– ) 8/10...,1676852273
6012,63811994,2023-02-20 00:15:01+00:00,I rated The Last of Us: Endure and Survive (S1...,1676852101
6013,63811994,2023-02-20 00:14:47+00:00,I rated The Last of Us: Please Hold to My Hand...,1676852087
6014,2259426482,2023-02-20 00:11:58+00:00,I rated Modern Family: The Feud (S5.E15) 9/10 ...,1676851918

In [27]:
# Connect to the database
conn = sqlite3.connect('movie_ratings.sqlite')
cursor = conn.cursor()

# # Define the new data to be inserted
# new_data = [('Mary',), ('Alex',), ('Jamie',)]

# Define the SQL query for retrieving the current maximum ID
max_id_query = """
SELECT MAX(user_id) 
FROM users 
"""

# Execute the query to retrieve the current maximum ID
cursor.execute(max_id_query)
max_id = cursor.fetchone()[0]

# If the table is empty, set the maximum ID to 0
if max_id is None:
    max_id = 0

# Define the SQL query for inserting new data with unique IDs
insert_query = "INSERT OR IGNORE INTO users (user_id, twiter_id) VALUES (?, ?)"

# Insert each new value with a new unique ID
for value in tweets['user_id']:
    new_id = max_id + 1
    new_value = (new_id,) + (value,)
    cursor.execute(insert_query, new_value)
    max_id += 1
    
# Commit the changes to the database
conn.commit()

# Close the database connection
cursor.close()
conn.close()

In [2]:
import pandas as pd
df1 = pd.DataFrame({'A': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], 'B': ['101', '011', '123', '108', '214', '516', '018', '176', '217', '183']})

In [3]:
df1

    A    B
0   1  101
1   2  011
2   3  123
3   4  108
4   5  214
5   6  516
6   7  018
7   8  176
8   9  217
9  10  183

In [4]:
df2 = pd.DataFrame({'B': ['176', '213', '117', '214', '137', '183']})

In [5]:
df2

     B
0  176
1  213
2  117
3  214
4  137
5  183

In [8]:
df3 = pd.concat([df1, df2]).drop_duplicates(subset='B')

In [11]:
df3 = df3.reset_index(drop=True)
df3

      A    B
0     1  101
1     2  011
2     3  123
3     4  108
4     5  214
5     6  516
6     7  018
7     8  176
8     9  217
9    10  183
10  NaN  213
11  NaN  117
12  NaN  137

In [12]:
import pandas as pd

# Create the first dataframe
df1 = pd.DataFrame({'A': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'], 'B': ['101', '011', '123', '108', '214', '516', '018', '176', '217', '183']})

# Set column 'A' as the index column
df1 = df1.set_index('A')

# Create the second dataframe
df2 = pd.DataFrame({'B': ['176', '213', '117', '214', '137', '183']})

# Concatenate the two dataframes and drop duplicates based on column 'B'
df3 = pd.concat([df1, df2]).drop_duplicates(subset='B')

# Reset the index of the new dataframe
df3 = df3.reset_index(drop=True)

# Print the new dataframe
print(df3)

      B
0   101
1   011
2   123
3   108
4   214
5   516
6   018
7   176
8   217
9   183
10  213
11  117
12  137

In [14]:
# Connect to the database
import sqlite3

conn = sqlite3.connect('movie_ratings.sqlite')
cursor = conn.cursor()

# # Define the new data to be inserted
# new_data = [('Mary',), ('Alex',), ('Jamie',)]

# Define the SQL query for retrieving the current maximum ID
query = """
SELECT twiter_id
FROM users 
order by user_id
"""

In [15]:
users = pd.read_sql(query, conn)

In [16]:
users

                 twiter_id
0      1000085060094255104
1      1000094287021903872
2                100013561
3                100015982
4                100020123
...                    ...
73898             19462713
73899             87941795
73900             63811994
73901             63811994
73902           2259426482

[73903 rows x 1 columns]

In [20]:
users.twiter_id.drop_duplicates()

0        1000085060094255104
1        1000094287021903872
2                  100013561
3                  100015982
4                  100020123
                ...
73487    1540130272452263936
73784    1416685777216581634
73788             2829837818
73826    1197742952673677313
73836    1225366059219374080
Name: twiter_id, Length: 68109, dtype: object

In [21]:
users.index.name = 'user_id'